In [1]:
import numpy as np
import pandas as pd
import ast

## Prepare Senegal 2022 data in format for MLC
- Exported data is 16 timesteps x 18 bands, start date 01-01-2022. We want to subset to 12 months to match time series length of CropHarvest.
- We want to be confident about the labels in this test set, so only use unanimous label points.

In [2]:
senegal = pd.read_csv('../data/datasets/Senegal_CEO_2022.csv')
# Create an empty dataframe for the new data format
senegal_mlc = pd.DataFrame()

nan_count = 0
for idx, row in senegal.iterrows():
    data_string = senegal.loc[idx, 'eo_data']
    # check if nan
    if type(data_string) == float:
        print('skipping nan at idx %d' % idx)
        nan_count += 1
        continue
    # Converting the string to a list of lists using ast.literal_eval
    list_of_lists = ast.literal_eval(data_string)
    # Converting the list of lists to a multi-dimensional numpy array
    numpy_array = np.array(list_of_lists)
    # subset to march to march (12 months)
    # start date is 01-01-2022, end date is 04-30-2023
    # want to skip first two and last two
    numpy_array = numpy_array[2:-2]
    
    # Convert the numpy array back into a string
    string_array = np.array2string(numpy_array, separator=', ')

    # Since array2string adds additional characters like brackets and line breaks,
    # you might want to format it to look exactly like your original string
    formatted_string = string_array.replace('\n', '').replace(' ', '')
    # skip uncertain labels
    class_label = senegal.loc[idx, 'class_probability']
    if class_label != 0 and class_label != 1:
        continue
    else:
        senegal_mlc.loc[idx, 'label'] = class_label
    senegal_mlc.loc[idx, 'eo_data'] = formatted_string

print('Number of nans skipped = %d' % nan_count)

skipping nan at idx 25
skipping nan at idx 49
skipping nan at idx 52
skipping nan at idx 65
skipping nan at idx 67
skipping nan at idx 68
skipping nan at idx 76
skipping nan at idx 80
skipping nan at idx 106
skipping nan at idx 130
skipping nan at idx 132
skipping nan at idx 134
skipping nan at idx 145
skipping nan at idx 147
skipping nan at idx 158
skipping nan at idx 159
skipping nan at idx 162
skipping nan at idx 165
skipping nan at idx 167
skipping nan at idx 169
skipping nan at idx 170
skipping nan at idx 172
skipping nan at idx 176
skipping nan at idx 177
skipping nan at idx 178
skipping nan at idx 190
skipping nan at idx 197
skipping nan at idx 203
skipping nan at idx 220
skipping nan at idx 228
skipping nan at idx 261
skipping nan at idx 271
skipping nan at idx 305
skipping nan at idx 306
skipping nan at idx 307
skipping nan at idx 319
skipping nan at idx 322
skipping nan at idx 336
skipping nan at idx 355
skipping nan at idx 382
skipping nan at idx 383
skipping nan at idx 389
skipping nan at idx 397
skipping nan at idx 400
skipping nan at idx 401
skipping nan at idx 406
skipping nan at idx 418
skipping nan at idx 423
skipping nan at idx 427
skipping nan at idx 443
skipping nan at idx 459
skipping nan at idx 467
skipping nan at idx 487
skipping nan at idx 495
skipping nan at idx 496
skipping nan at idx 515
skipping nan at idx 523
skipping nan at idx 547
skipping nan at idx 555
skipping nan at idx 561
skipping nan at idx 567
skipping nan at idx 578
skipping nan at idx 579
skipping nan at idx 587
skipping nan at idx 594
skipping nan at idx 606
skipping nan at idx 609
skipping nan at idx 612
skipping nan at idx 620
skipping nan at idx 630
skipping nan at idx 641
skipping nan at idx 643
skipping nan at idx 645
skipping nan at idx 652
skipping nan at idx 661
skipping nan at idx 663
skipping nan at idx 683
skipping nan at idx 689
skipping nan at idx 690
skipping nan at idx 702
skipping nan at idx 715
skipping nan at idx 729
skipping nan at idx 731
skipping nan at idx 733
skipping nan at idx 736
skipping nan at idx 745
skipping nan at idx 792
skipping nan at idx 826
skipping nan at idx 831
skipping nan at idx 848
skipping nan at idx 853
skipping nan at idx 859
skipping nan at idx 865
skipping nan at idx 869
skipping nan at idx 883
skipping nan at idx 889
skipping nan at idx 907
skipping nan at idx 925
skipping nan at idx 967
skipping nan at idx 970
skipping nan at idx 981
skipping nan at idx 983
skipping nan at idx 987
skipping nan at idx 988
skipping nan at idx 993
skipping nan at idx 1004
skipping nan at idx 1008
skipping nan at idx 1012
skipping nan at idx 1015
skipping nan at idx 1022
skipping nan at idx 1037
skipping nan at idx 1043
skipping nan at idx 1049
skipping nan at idx 1052
skipping nan at idx 1055
skipping nan at idx 1075
skipping nan at idx 1093
skipping nan at idx 1099
skipping nan at idx 1103
skipping nan at idx 1117
skipping nan at idx 1151
skipping nan at idx 1161
skipping nan at idx 1169
skipping nan at idx 1171
skipping nan at idx 1182
skipping nan at idx 1208
skipping nan at idx 1210
skipping nan at idx 1227
skipping nan at idx 1237
skipping nan at idx 1240
skipping nan at idx 1259
skipping nan at idx 1262
skipping nan at idx 1275
skipping nan at idx 1279
skipping nan at idx 1280
skipping nan at idx 1290
skipping nan at idx 1295
skipping nan at idx 1315
skipping nan at idx 1317
skipping nan at idx 1329
skipping nan at idx 1331
skipping nan at idx 1343
skipping nan at idx 1356
skipping nan at idx 1357
skipping nan at idx 1368
skipping nan at idx 1375
skipping nan at idx 1386
skipping nan at idx 1389
skipping nan at idx 1400
skipping nan at idx 1407
skipping nan at idx 1417
skipping nan at idx 1418
skipping nan at idx 1424
skipping nan at idx 1430
skipping nan at idx 1444
skipping nan at idx 1462
skipping nan at idx 1477
skipping nan at idx 1482
Number of nans skipped = 158

In [3]:
senegal_mlc

      label                                            eo_data
0       0.0  [[-1.42355510e+01,-2.15492665e+01,2.63500000e+...
1       0.0  [[-2.44485617e+01,-2.88332132e+01,2.89100000e+...
2       0.0  [[-2.38402360e+01,-2.93729312e+01,3.01000000e+...
3       0.0  [[-1.47781415e+01,-1.87598883e+01,2.85700000e+...
4       0.0  [[-1.96500718e+01,-2.58454098e+01,2.93000000e+...
...     ...                                                ...
1495    0.0  [[-1.14005453e+01,-1.74335046e+01,2.51100000e+...
1496    0.0  [[-1.00196942e+01,-1.59960228e+01,2.35000000e+...
1497    1.0  [[-1.77268047e+01,-3.07639144e+01,2.84400000e+...
1498    1.0  [[-1.60961355e+01,-2.38341798e+01,2.72400000e+...
1499    1.0  [[-1.71656302e+01,-2.88640307e+01,2.71600000e+...

[1340 rows x 2 columns]

In [4]:
# Question: should we balance? should we even use this set for the competition?
senegal_mlc['label'].value_counts()

0.0    1235
1.0     105
Name: label, dtype: int64

## Prepare Tigray 2021 data in format for MLC
- Exported data is 24 timesteps x 18 bands, start date 01-01-2021. We want to do 12 months starting March 2021.
- We want to be confident about the labels in this test set, so only use unanimous label points.

In [5]:
tigray2021 = pd.read_csv('../data/datasets/Ethiopia_Tigray_2021.csv')
# Create an empty dataframe for the new data format
tigray2021_mlc = pd.DataFrame()

nan_count = 0
for idx, row in tigray2021.iterrows():
    data_string = tigray2021.loc[idx, 'eo_data']
    # check if nan
    if type(data_string) == float:
        print('skipping nan at idx %d' % idx)
        nan_count += 1
        continue
    # Converting the string to a list of lists using ast.literal_eval
    list_of_lists = ast.literal_eval(data_string)
    # Converting the list of lists to a multi-dimensional numpy array
    numpy_array = np.array(list_of_lists)
    # subset to march to march (12 months)
    # start date is 01-01-2021
    # want to skip first two and last two
    numpy_array = numpy_array[2:2+12]
    
    # Convert the numpy array back into a string
    string_array = np.array2string(numpy_array, separator=', ')

    # Since array2string adds additional characters like brackets and line breaks,
    # you might want to format it to look exactly like your original string
    formatted_string = string_array.replace('\n', '').replace(' ', '')
    # skip uncertain labels
    class_label = tigray2021.loc[idx, 'class_probability']
    if class_label != 0 and class_label != 1:
        continue
    else:
        tigray2021_mlc.loc[idx, 'label'] = class_label
    tigray2021_mlc.loc[idx, 'eo_data'] = formatted_string

print('Number of nans skipped = %d' % nan_count)

skipping nan at idx 2
skipping nan at idx 3
skipping nan at idx 8
skipping nan at idx 10
skipping nan at idx 17
skipping nan at idx 18
skipping nan at idx 19
skipping nan at idx 20
skipping nan at idx 24
skipping nan at idx 26
skipping nan at idx 28
skipping nan at idx 32
skipping nan at idx 33
skipping nan at idx 35
skipping nan at idx 42
skipping nan at idx 44
skipping nan at idx 46
skipping nan at idx 48
skipping nan at idx 65
skipping nan at idx 66
skipping nan at idx 73
skipping nan at idx 79
skipping nan at idx 80
skipping nan at idx 81
skipping nan at idx 83
skipping nan at idx 84
skipping nan at idx 88
skipping nan at idx 98
skipping nan at idx 99
skipping nan at idx 124
skipping nan at idx 125
skipping nan at idx 127
skipping nan at idx 128
skipping nan at idx 138
skipping nan at idx 141
skipping nan at idx 142
skipping nan at idx 149
skipping nan at idx 151
skipping nan at idx 152
skipping nan at idx 153
skipping nan at idx 169
skipping nan at idx 171
skipping nan at idx 172
skipping nan at idx 175
skipping nan at idx 176
skipping nan at idx 181
skipping nan at idx 198
skipping nan at idx 202
skipping nan at idx 206
skipping nan at idx 207
skipping nan at idx 209
skipping nan at idx 211
skipping nan at idx 247
skipping nan at idx 249
skipping nan at idx 262
skipping nan at idx 266
skipping nan at idx 272
skipping nan at idx 276
skipping nan at idx 285
skipping nan at idx 287
skipping nan at idx 289
skipping nan at idx 290
skipping nan at idx 291
skipping nan at idx 293
skipping nan at idx 301
skipping nan at idx 305
skipping nan at idx 306
skipping nan at idx 313
skipping nan at idx 315
skipping nan at idx 317
skipping nan at idx 332
skipping nan at idx 335
skipping nan at idx 352
skipping nan at idx 354
skipping nan at idx 356
skipping nan at idx 390
skipping nan at idx 406
skipping nan at idx 408
skipping nan at idx 410
skipping nan at idx 417
skipping nan at idx 422
skipping nan at idx 432
skipping nan at idx 433
skipping nan at idx 436
skipping nan at idx 443
skipping nan at idx 444
skipping nan at idx 445
skipping nan at idx 451
skipping nan at idx 459
skipping nan at idx 461
skipping nan at idx 462
skipping nan at idx 464
skipping nan at idx 472
skipping nan at idx 486
skipping nan at idx 487
skipping nan at idx 488
skipping nan at idx 500
skipping nan at idx 502
skipping nan at idx 503
skipping nan at idx 506
skipping nan at idx 508
skipping nan at idx 516
skipping nan at idx 518
skipping nan at idx 522
skipping nan at idx 529
skipping nan at idx 537
skipping nan at idx 554
skipping nan at idx 555
skipping nan at idx 556
skipping nan at idx 559
skipping nan at idx 561
skipping nan at idx 562
skipping nan at idx 573
skipping nan at idx 581
skipping nan at idx 585
skipping nan at idx 590
skipping nan at idx 604
skipping nan at idx 607
skipping nan at idx 608
skipping nan at idx 610
skipping nan at idx 611
skipping nan at idx 618
skipping nan at idx 621
skipping nan at idx 624
skipping nan at idx 653
skipping nan at idx 671
skipping nan at idx 672
skipping nan at idx 674
skipping nan at idx 677
skipping nan at idx 678
skipping nan at idx 694
skipping nan at idx 708
skipping nan at idx 709
skipping nan at idx 714
skipping nan at idx 718
skipping nan at idx 719
skipping nan at idx 726
skipping nan at idx 727
skipping nan at idx 732
skipping nan at idx 733
skipping nan at idx 735
skipping nan at idx 742
skipping nan at idx 748
skipping nan at idx 750
skipping nan at idx 754
skipping nan at idx 755
skipping nan at idx 756
skipping nan at idx 757
skipping nan at idx 768
skipping nan at idx 769
skipping nan at idx 774
skipping nan at idx 784
skipping nan at idx 788
skipping nan at idx 794
skipping nan at idx 801
skipping nan at idx 818
skipping nan at idx 824
skipping nan at idx 831
skipping nan at idx 832
skipping nan at idx 835
skipping nan at idx 839
skipping nan at idx 841
skipping nan at idx 849
skipping nan at idx 859
skipping nan at idx 867
skipping nan at idx 869
skipping nan at idx 871
skipping nan at idx 872
Number of nans skipped = 168

In [6]:
tigray2021_mlc

     label                                            eo_data
0      0.0  [[-3.96095435e+00,-9.43330254e+00,1.55000000e+...
1      0.0  [[-4.12571337e+00,-9.21231625e+00,1.39000000e+...
4      0.0  [[-1.23317485e+01,-1.92344105e+01,1.38400000e+...
5      0.0  [[-7.71946565e+00,-1.06734701e+01,1.26000000e+...
6      0.0  [[-8.36950661e+00,-1.63944270e+01,1.13800000e+...
..     ...                                                ...
881    0.0  [[-1.44614578e+01,-1.96913773e+01,1.41600000e+...
882    1.0  [[-9.77523749e+00,-1.78364651e+01,1.21500000e+...
883    0.0  [[-5.64229765e-01,-8.84975504e+00,1.22900000e+...
884    0.0  [[-1.08297359e+01,-1.92155071e+01,1.57900000e+...
885    0.0  [[-1.28124670e+01,-1.72488734e+01,1.50700000e+...

[656 rows x 2 columns]

In [7]:
tigray2021_mlc['label'].value_counts()

0.0    475
1.0    181
Name: label, dtype: int64

## Prepare Tigray 2020 data in format for MLC
- Exported data is 24 timesteps x 18 bands, start date 01-01-2021. We want to do 12 months starting March 2021.
- We want to be confident about the labels in this test set, so only use unanimous label points.

In [8]:
tigray2020 = pd.read_csv('../data/datasets/Ethiopia_Tigray_2020.csv')
# Create an empty dataframe for the new data format
tigray2020_mlc = pd.DataFrame()

nan_count = 0
for idx, row in tigray2020.iterrows():
    data_string = tigray2020.loc[idx, 'eo_data']
    # check if nan
    if type(data_string) == float:
        print('skipping nan at idx %d' % idx)
        nan_count += 1
        continue
    # Converting the string to a list of lists using ast.literal_eval
    list_of_lists = ast.literal_eval(data_string)
    # Converting the list of lists to a multi-dimensional numpy array
    numpy_array = np.array(list_of_lists)
    # subset to march to march (12 months)
    # start date is 01-01-2020
    numpy_array = numpy_array[2:2+12]
    
    # Convert the numpy array back into a string
    string_array = np.array2string(numpy_array, separator=', ')

    # Since array2string adds additional characters like brackets and line breaks,
    # you might want to format it to look exactly like your original string
    formatted_string = string_array.replace('\n', '').replace(' ', '')
    # skip uncertain labels
    class_label = tigray2020.loc[idx, 'class_probability']
    if class_label != 0 and class_label != 1:
        continue
    else:
        tigray2020_mlc.loc[idx, 'label'] = class_label
    tigray2020_mlc.loc[idx, 'eo_data'] = formatted_string

print('Number of nans skipped = %d' % nan_count)

skipping nan at idx 8
skipping nan at idx 9
skipping nan at idx 36
skipping nan at idx 39
skipping nan at idx 45
skipping nan at idx 47
skipping nan at idx 60
skipping nan at idx 66
skipping nan at idx 86
skipping nan at idx 88
skipping nan at idx 93
skipping nan at idx 94
skipping nan at idx 100
skipping nan at idx 105
skipping nan at idx 109
skipping nan at idx 114
skipping nan at idx 115
skipping nan at idx 125
skipping nan at idx 128
skipping nan at idx 131
skipping nan at idx 139
skipping nan at idx 154
skipping nan at idx 166
skipping nan at idx 175
skipping nan at idx 192
skipping nan at idx 199
skipping nan at idx 203
skipping nan at idx 206
skipping nan at idx 207
skipping nan at idx 209
skipping nan at idx 214
skipping nan at idx 228
skipping nan at idx 232
skipping nan at idx 238
skipping nan at idx 241
skipping nan at idx 245
skipping nan at idx 247
skipping nan at idx 254
skipping nan at idx 262
skipping nan at idx 269
skipping nan at idx 272
skipping nan at idx 273
skipping nan at idx 278
skipping nan at idx 279
skipping nan at idx 281
skipping nan at idx 282
skipping nan at idx 283
skipping nan at idx 285
skipping nan at idx 287
skipping nan at idx 288
skipping nan at idx 291
skipping nan at idx 293
skipping nan at idx 295
skipping nan at idx 304
skipping nan at idx 305
skipping nan at idx 306
skipping nan at idx 307
skipping nan at idx 310
skipping nan at idx 311
skipping nan at idx 314
skipping nan at idx 318
skipping nan at idx 321
skipping nan at idx 325
skipping nan at idx 326
skipping nan at idx 329
skipping nan at idx 330
skipping nan at idx 350
skipping nan at idx 358
skipping nan at idx 379
skipping nan at idx 392
skipping nan at idx 395
skipping nan at idx 400
skipping nan at idx 401
skipping nan at idx 408
skipping nan at idx 420
skipping nan at idx 422
skipping nan at idx 423
skipping nan at idx 424
skipping nan at idx 426
skipping nan at idx 428
skipping nan at idx 430
skipping nan at idx 431
skipping nan at idx 445
skipping nan at idx 455
skipping nan at idx 456
skipping nan at idx 464
skipping nan at idx 467
skipping nan at idx 469
skipping nan at idx 474
skipping nan at idx 480
skipping nan at idx 486
skipping nan at idx 493
skipping nan at idx 498
skipping nan at idx 499
skipping nan at idx 507
skipping nan at idx 513
skipping nan at idx 530
skipping nan at idx 531
skipping nan at idx 534
skipping nan at idx 537
skipping nan at idx 541
skipping nan at idx 542
skipping nan at idx 546
skipping nan at idx 549
skipping nan at idx 555
skipping nan at idx 557
skipping nan at idx 562
skipping nan at idx 563
skipping nan at idx 564
skipping nan at idx 568
skipping nan at idx 569
skipping nan at idx 570
skipping nan at idx 573
skipping nan at idx 576
skipping nan at idx 581
skipping nan at idx 583
skipping nan at idx 587
skipping nan at idx 592
skipping nan at idx 610
skipping nan at idx 612
skipping nan at idx 613
skipping nan at idx 625
skipping nan at idx 629
skipping nan at idx 631
skipping nan at idx 632
skipping nan at idx 633
skipping nan at idx 634
skipping nan at idx 636
skipping nan at idx 638
skipping nan at idx 639
skipping nan at idx 643
skipping nan at idx 644
skipping nan at idx 647
skipping nan at idx 650
skipping nan at idx 653
skipping nan at idx 654
skipping nan at idx 658
skipping nan at idx 659
skipping nan at idx 660
skipping nan at idx 666
skipping nan at idx 668
skipping nan at idx 672
skipping nan at idx 673
skipping nan at idx 675
skipping nan at idx 684
skipping nan at idx 695
skipping nan at idx 698
skipping nan at idx 701
skipping nan at idx 707
skipping nan at idx 711
skipping nan at idx 713
skipping nan at idx 714
skipping nan at idx 719
skipping nan at idx 721
skipping nan at idx 722
skipping nan at idx 724
skipping nan at idx 727
skipping nan at idx 737
skipping nan at idx 738
skipping nan at idx 741
skipping nan at idx 743
skipping nan at idx 747
skipping nan at idx 748
skipping nan at idx 752
skipping nan at idx 754
skipping nan at idx 760
skipping nan at idx 766
skipping nan at idx 772
skipping nan at idx 777
skipping nan at idx 778
skipping nan at idx 788
skipping nan at idx 796
skipping nan at idx 803
Number of nans skipped = 173

In [9]:
tigray2020_mlc

      label                                            eo_data
0       0.0  [[-3.40507540e+00,-1.19441144e+01,1.33200000e+...
1       0.0  [[-1.01614959e+01,-1.50998810e+01,1.05700000e+...
2       0.0  [[-1.37047025e+01,-1.96595139e+01,1.57200000e+...
3       0.0  [[-7.53476129e+00,-1.52523661e+01,1.16300000e+...
4       1.0  [[-1.02791819e+01,-2.28819453e+01,1.08400000e+...
...     ...                                                ...
1195    0.0  [[-1.29620620e+01,-2.10993888e+01,1.16900000e+...
1196    0.0  [[-1.35332022e+01,-2.75207233e+01,1.21100000e+...
1197    0.0  [[-1.91325054e+00,-1.07038918e+01,1.16900000e+...
1198    1.0  [[-1.01801434e+01,-2.09272196e+01,1.24800000e+...
1199    1.0  [[-9.65545942e+00,-1.88954509e+01,1.18200000e+...

[1027 rows x 2 columns]

In [10]:
# Question: should we balance this a bit more?
tigray2020_mlc['label'].value_counts()

0.0    736
1.0    291
Name: label, dtype: int64